html {
    scroll-behavior: smooth;
}

:root {
    --primary: #131734;
    --secondary: #fff;
    --rois: #f4f6ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header {
    width: 100%;
    background: var(--primary);
    display: none;
}

.header.scroll {
    display: block;
    position: fixed;
}

.header div {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header div a {
    position: absolute;
    left: 3%;
    text-decoration: none;
    color: var(--secondary);
}

.header ion-icon {
    font-size: 2em;
}

.header h3 {
    color: var(--secondary);
    font-size: clamp(1.4rem, 2vw, 5rem);
    text-align: center;
}

/* home page */




.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: var(--primary);
    height: 100vh;
    grid-row-start: 3;
    grid-row-end: 4;

}

.container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 900;
}

.container ion-icon {
    color: var(--secondary);
    font-size: 2.7em;
}

.containerTitle {
    height: 10rem;
    overflow-y: hidden;
    align-items: center;
}

.bigTitle {
    font-family: 'Lato', sans-serif;
    font-size: clamp(2.5rem, 10vw, 7rem);
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(/assets/3b7213f7-32a8-4923-bf70-51714fb0945a.webp);
    background-position: 50% 55%;
    color: transparent;
    animation: up 3s;
    letter-spacing: 0.2em;
    text-align: center;
}

@keyframes up {
    from {
        transform: translateY(18rem);
    }

    to {
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}


.questionMort {
    height: 100vh;
    padding-top: 10vh;
}

.questionfinal {
    display: grid;
    height: 70vh;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr;
    align-items: center;
    margin: 5vw;
    background-color: var(--primary);
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.361);
    border: 3px solid rgba(255, 255, 255, 0.724);
    background: var(--primary);
    width: 90vw;
    border-radius: 1em;

}

.questionfinal h4 {
    font-size: 8vw;
    color: #f4f6ed;
}

.choco {
    display: flex;
    justify-content: center;
}

.choco img {
    width: 40vw;
}

.container .button {
    display: flex;
    height: 100vh;
}

.logoCompteur {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cannele img {

    width: 20vw;
    height: 10vh;
}

.scorecannele {
    font-size: 110%;
    color: rgb(236, 11, 11);
    position: absolute;
    left: 38%;
    top: 25%;
    cursor: pointer;

}



.macaron img {

    width: 20vw;
    height: 8vh;
}

.scoremacaron {
    font-size: 110%;
    color: rgb(236, 11, 11);
    position: absolute;
    left: 73%;
    top: 20%;
    cursor: pointer;
}





/* choose team */
.team {
    padding-top: 20vh;

}


.bigContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12em;
}

.card {
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.361);
    border: 3px solid rgba(255, 255, 255, 0.724);
    background: #f4f6ed;
    width: 85vw;
    height: 65vh;
    border-radius: 1em;
}




.containerCard {
    height: 100%;
    padding: 1em;
    border-radius: 1em;
}

.containerCard:nth-child(1) p {
    text-align: justify;
}

.containerCard:nth-child(1) h2 {
    text-align: center;
}



.inputBox h2 {
    display: flex;
    justify-content: center;
    color: var(--primary);
    margin-top: 1em;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}


.inputBox input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    padding: 10px 70px 10px 20px;
    border-radius: 0.6em;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.361);
    border: 1px solid rgba(255, 255, 255, 0.724);
    font-size: 1em;
}

.inputBox button {
    width: 5em;
    margin: 1em;
    border: none;
    background: var(--primary);
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    color: var(--secondary);
}



/* slide */











.footer {
    background: #131734;
    display: none;
    bottom: 0;
    width: 100%;
}

.footer.scroll1 {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #131734;
}



.modal {
    display: none;
    position: absolute;
    top: 207.8%;
    left: center;
}

.classModal {
    border: black solid 1px;
    padding: 1em;
    background: #fff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 65vh;
}
.classModal h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.classModal img {
    width: 17em;
}

.footer {
    background: #131734;
    display: none;
    bottom: 0;
    width: 100%;
}

.footer.scroll1{
    display: block;
    position: fixed;
}

.footer img{
    width: 5em;
}

#btnClose {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    border: solid 1px black;
    border-radius: 0.5em;
    background: var(--primary);
    width: 6em;
    height: 2rem;
    color: white;
    font-size: 2em;
    box-shadow: 0 6px #303c91;
    padding: 0.6em;
}

#btnClose:hover {
    transform: translateY(5px);
    box-shadow: 0 5px #212967;
}

#btnClose:active {
    transform: translateY(8px);
    box-shadow: 0 4px #212967;
}

a{
    text-decoration: none;
    color: var(--secondary);
}

a:visited{
    text-decoration: none;
}

.starButton {

    height: 5em;
}

#btnWin {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    border: none;
    background: none;
    border: solid 1px black;
    border-radius: 0.5em;
    background: var(--primary);
    width: 15rem;
    height: 3rem;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 8px #010311;
    padding: 0.6em;
}

#btnWin:active {
    transform: translateY(3px);
    box-shadow: 0 5px #212967;
}




.quizz1 {
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 18vh;
}


.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.fullAnswer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow:  10px 10px 25px 10px rgba(0, 0, 0, 0.361);
    border: 3px solid rgba(255, 255, 255, 0.724);
    background: var(--primary);
    border-radius: 0.8em;
    padding: 0.5em;
}


.fullAnswer img{
    width: 40%;
}

.fullAnswer img:nth-child(1){
    width: 80%;
}

.wrongAnswerRed {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.question{
    width: 100%;
    display: none;
}

.question h2{
    text-align: center;
    font-size: 1.7em;
    padding-bottom: 3vh;
}

.question h2:hover{
    text-decoration: underline;
}

.fullAnswer h3{
    cursor: pointer;
    width: 90%;
    text-align: center;
    color: var(--secondary);
    font-size: 1.3em;
    border: 2px solid yellow;
    padding: 0.5em;
    border-radius: 1em;
    margin-top: 0.6em;
    cursor: pointer;
}

.fullAnswer h3:nth-child(4){
    margin-bottom: 0.6em;
}


.fullAnswer h3:nth-child(1){
    border: 2px solid orange;
}

.fullAnswer h3:nth-child(3){
    border: 2px solid violet;
}

.fullAnswer h3:nth-child(4){
    border: 2px solid rgb(7, 131, 40);
}
.rightAnswerGreen {
    background-color: rgb(9, 255, 0);
    cursor: pointer;
}

.cont-btn {
    align-items: center;
}

.btn-nav {
    cursor: pointer;
}

.cont-btn ion-icon{
    font-size: 5em;
    color: var(--primary);
}


@media screen and (min-width: 768px) {

    .header div{
        height: 12vh;
    }
    .header ion-icon{
        font-size: 3.5em;
    }
    .header div a{
        left: 15%;
    }
    .container {
        padding-top: initial;
        gap: 6em;
    }
    .container a{
        font-size: 2.5em;
    }
    
    .container ion-icon{
        font-size: 3em;
    }
    .containerTitle{
        height: 18em;
    }
    .team{
        padding-top: 24vh;
        height: 100vh;
    }
    .questionfinal {
        display: grid;
        grid-template-rows: 2fr, 1fr, 1fr;
        grid-template-columns: 1fr, 1fr, fr;
        align-items: center;
        background-color: var(--primary);
        box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.361);
        border: 3px solid rgba(255, 255, 255, 0.724);
        background: var(--primary);
        border-radius: 1em;
        width: 90vw;
        height: 60vh;
    }

    .questionfinal h4 {
        font-size: 5vw;
    }

.containerCard p{
    font-size: 1.3em;
}

    .footer {
        background: #131734;
        display: none;
        bottom: 0;
        width: 100%;
    }
    .footer.scroll1 {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #131734;
    }
    .cannele img {
        width: 20vw;
        height: 20vh;
    }
    .scorecannele {
        font-size: 2.5em;
        color: rgb(236, 11, 11);
        position: absolute;
        left: 24.5%;
        top: 44%;
    }
.macaron{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .scoremacaron {
        font-size: 2.5em;
        color: rgb(236, 11, 11);
        position: absolute;
        left: 76%;
        top: 44%;
    }
    .bigContainer {
        display: flex;
        justify-content: center;
        gap: 10em;
    }
    .card {
        width: 30em;
    }
    
    .modal {
        display: none;
        position: absolute;
        top: 110%;
        left: center;
    }
    .classModal {
        border: black solid 1px;
        padding: em;
        height: 40em;
        width: 30em;
        background: #fff;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .classModal h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }
    .classModal img {
         width: 22em;
    }
    #btnClose {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        border: solid 1px black;
        border-radius: 0.5em;
        background: var(--primary);
        width: 7em;
        height: 2em;
        color: white;
        font-size: 2em;
        box-shadow: 0 6px #303c91;
        padding: 0.6em;
    }
    .header ion-icon {
        font-size: 3.5em;
    }
    .header div a {
        left: 15%;
    }
    .container {
        padding-top: initial;
        gap: 10em;
    }
    .container a {
        font-size: 2.5em;
    }
    .container ion-icon {
        font-size: 3em;
    }
    .containerTitle {
        height: 18em;
    }
    .team {
        padding-top: 15vh;
        height: 100vh;
        background: url(/assets/bridge-4120830_1920\ copie.jpg);
        background-size: cover;
        background-position: center;
    }
    .fullAnswer img:nth-child(1){
        width: 60%;
    }
    .slider{
        width: 60%;
    }
    .cont-btn {
    margin-top: 1em;
}
.fullAnswer h3{
    width: 40%;
    margin: 0.5em;
}
.fullAnswer img{
    width: 35%;
}
.choco img {
    width: 20%;
}
 .chocolatine h4{
    font-size: 3em;
}
.pain h4{
    font-size: 2.5em;
}
.questionfinal {
    width: 50%;
    height: 70%;
}
.questionMort {
display: flex;
    justify-content: center;
}

}

.loser{
    color: #fff;
}

#winner, #looser{
    width: 6em;
    height: 6em;
}

.btnMort{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto;
    margin-top: 1em;
    border: none;
    background: none;
    border: solid 1px white;
    border-radius: 0.5em;
    background: var(--primary);
    width: 15rem;
    height: 3rem;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 8px #010311;
    padding: 0.6em;
    margin-bottom: 1.5em;
}

#btnMort:active {
    transform: translateY(3px);
    box-shadow: 0 5px #212967;
}

.chocolatine, .pain{
    cursor: pointer;
}