
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

:root{
    --primary: #131734; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerTitle{
    height: 18rem;
    overflow-y: hidden;
    align-items: center;
}

.bigTitle{
    font-family: 'Lato', sans-serif;
    font-size: clamp(2rem, 10vw, 7rem);
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(/assets/3b7213f7-32a8-4923-bf70-51714fb0945a.webp);
    background-position: 50% 55%;
    color: transparent;
    animation: up 3s;
    letter-spacing: 0.2em;
}



@keyframes up {
    from {
        transform: translateY(18rem);
    }
    to {
        transform: translateY(0);
    }
}

.button{
    position: absolute;
    left: 50%;
    top: 80%;
}

